###########################################
########## Common variables ###############
###########################################

profile     = "profile01"
aws_region  = "us-east-1"
environment = "dev"
client      = "cliente01"
project     = "proyecto01"
application = "app01"
common_tags = {
  environment   = "dev"
  project-name  = "proyecto01"
  cost-center   = "xxx"
  owner         = "xxx"
  area          = "xxx"
  provisioned   = "xxx"
  datatype      = "xxx"
}

###########################################
############ LB variables #################
###########################################

lb_config = [{
    internal           = false
    load_balancer_type = "application"
    subnets            = ["xxxxxx", "xxxxxx"]
    security_groups    = ['xxxxxxxxx']
    application_id     = app01

    # Target Group configuration
    target_groups = [{
        target_application_id = web01
        port                  = 8080
        protocol              = "HTTP"
        vpc_id                = data.aws_vpc.vpc.id
        target_type           = "ip"
        healthy_threshold     = "2"
        interval              = "30"
        path                  = "/health"
        unhealthy_threshold   = "2"
    }]

    # Listeners configuration
    listeners = [
        # HTTP Listener (80) to redirect to HTTPS
        {
            port     = 8080
            protocol = "HTTP"
            default_action = {
                type = "redirect"
                redirect = {
                port        = "443"
                protocol    = "HTTPS"
                status_code = "HTTP_301"
                }
            }
        },
        # HTTPS Listener (443) to send to the above target group ⬆
        {
            port            = 443
            protocol        = "HTTPS"
            certificate_arn = "arn_acm"
            default_action = {
                type             = "forward"
                target_group_key = "web01"
            }
        }
    ]
}]